.splash-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9FBE7;
  background-image: url(D:\updated\tc3202-3b-4\frontend\public\BSnaplg.png), url(D:\updated\tc3202-3b-4\frontend\src\aiii.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70vh, cover;
  height: 100vh;
  width: 100vw;
  text-align: left;
}

.title-intro {
  font-size: 2rem;
  animation: fadeIn 1.5s ease-in;
  color: #F9FBE7;
  margin-bottom: 20px;
}

.splash-screen h1 {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeIn 1.2s ease-in-out;
  background: linear-gradient(90deg, #02a12d, #02a72f, #02a82f, #02a62e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.title-intro p { /**nasa ilalim ng title**/
  font-size: 1.1rem;
  color: #F9FBE7;
  margin-top: 10px;
  line-height: 1.6;
}

.main-intro p { /**yung nasa tabi**/
  font-size: 1.1rem;
  color: #F9FBE7;
  margin-top: 10px;
  line-height: 1.5;
  border-left: 4px solid #72bf44;
  padding-left: 30px;
  margin: 40px 0;
}


.main-intro {
  font-size: 1.1rem;
  animation: fadeIn 1.5s ease-in;
  color: #F9FBE7;
}

.get-started-button {
  background-color: #66bb6a;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.title-intro {
  position: relative;
  right: 3vh;
  padding-bottom: 38vh;
}

.main-intro {
  position: relative;
  left: 11vh;
  padding-top: 33vh;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}